<%= render :partial => 'home/navbar' %>

<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<%= render 'form' %>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>year</th>
      <th>month</th>
      <th>day</th>

      <th>Youtube</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.created_at.year %></td>
        <td><%= blog.created_at.month %></td>
        <td><%= blog.created_at.day %></td>

        <td><iframe width="560" height="315" src="<%= blog.youtube %>" frameborder="0" allowfullscreen></iframe></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td><%= form_for(@comment) do |f| %>
            <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

              <ul>
              <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :blog_id, :value=> blog.id %>
          <div class="field">
            <%= f.label :mention %><br>
            <%= f.text_field :mention %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </td>
      </tr>
      <% blog.comments.each do |comment| %>
      <tr>
        <td><%= comment.mention %></td>
        <td><%= comment.user.name %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
